<% if @photo_post.bookmarked_by?(current_user) %>
  <p>
    <%= link_to photo_post_bookmark_path(@photo_post), method: :delete, remote: true do %>
      ●<%= @photo_post.bookmarks.count %> ブックマーク
    <% end %>
  </p>
<% else %>
  <p>
    <%= link_to photo_post_bookmark_path(@photo_post), method: :post, remote: true do %>
      ○<%= @photo_post.bookmarks.count %> ブックマーク
    <% end %>
  </p>
<% end %>