<% if user_signed_in? %>
  <% if photo_post.preview == false %>
    <% if photo_post.favorited_by?(current_user) %>
      <p>
        <%= link_to photo_post_favorite_path(photo_post), method: :delete, remote: true do %>
          <i class="fas fa-heart" style="color: orangered;"></i>
        <% end %>
      </p>
      <p class="favorite-count"><%= photo_post.favorites.count %></p>
    <% else %>
      <p>
        <%= link_to photo_post_favorite_path(photo_post), method: :post, remote: true do %>
          <i class="far fa-heart"></i>
        <% end %>
      </p>
      <p class="favorite-count"><%= photo_post.favorites.count %></p>
    <% end %>
  <% else %>
    <p><i class="fas fa-heart" style="color: orangered;"></i></p>
  <% end %>
<% end %>