<div class="consultation-container">
  <div class="consultation-body">
    <div class="consultation-left"></div>
    <div class="consultation-center">
      <div class="consultation-center__sort"></div>
      <div class="consultation-center__label">
        <ul>
          <li class="consultation-center__label-list1"></li>
          <li class="consultation-center__label-list2"></li>
          <li class="consultation-center__label-list3"></li>
        </ul>
      </div>
      <div class="consultation-center__list">
        <ul>
          <li>
            <div class="consultation-center__list__left"></div>
            <div class="consultation-center__list__right">
              <div class="title"></div>
              <div class="body">
                <ul>
                  <li class="count"></li>
                  <li class="user"></li>
                  <li class="time"></li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="consultation-center__page"></div>
    </div>
    <div class="consultation-right"></div>
  </div>
</div>