<div class="withdrawal-container">
  <div class="withdrawal-container__content">
    <p class="text-center">
      退会手続きが完了しました。<br>
      またのご登録をお待ちしております。<br>
      引き続き、当コンテンツの利用をお楽しみください。
    </p>
  </div>
  <%= link_to root_path do %>
    <div class="withdrawal-container__button">
      トップページへ
    </div>
  <% end %>
</div>