<h3>コメント</h3>
<div>
  <div id="photo_post_comment_form">
    <%= render "form", photo_post: @photo_post, photo_post_comment: @photo_post_comment %>
  </div>
</div>
<div>
  <div id="photo_post_comment_index">
    <%= render "index", photo_post: @photo_post, photo_post_comments: @photo_post_comments %>
  </div>
</div>
