<div class="top-container">
  <div class="heading-area">
    <%= image_tag "IMG_2820.JPG" %>
    <h1>そうだ<br>キャンプ<br>行こう。</h1>
  </div>
  <div class="photo-area">
    <ul>
      <li>
        <p class="photo">
          <%= image_tag "IMG_2820.JPG" %>
        </p>
        <p class="txt">
          <span>ー キャンプ ー</span><br>
          ソロキャン”、”グルキャン”、”おしゃキャン”など<br>
          様々なキャンプスタイルがあり、そのどれもが素晴らしい。<br>
          そして、そんな様々なスタイルがあるからこそ、<br>
          誰にでもハマるきっかけがそこにはあります。<br>
          写真好きな人、料理好きの人、コーヒーが好きな人、<br>
          このBornfire Clubをきっかけに、キャンプを始めてみませんか。
        </p>
      </li>
      <li>
        <p class="photo">
          <%= image_tag "IMG_2820.JPG" %>
        </p>
        <p class="txt">
          そしてキャンパーの皆さん、<br>
          初心者の方からベテランキャンパーさんまで、<br>
          <strong>見たい・見せたい、知りたい・教えたい</strong><br>
          をこのBornfire Clubを通じて共有して、<br>より充実したキャンプライフを送りましょう！
        </p>
      </li>
    </ul>
  </div>
  <div class="cousultation-area"></div>
</div>
