<div class="top-container">
  <div class="heading-area">
    <%= image_tag "IMG_2820.JPG" %>
    <h1>そうだ<br>キャンプ<br>行こう。</h1>
  </div>
  <div class="photo-area">
  </div>
  <div class="cousultation-area"></div>
</div>
