<div class="admin_top-container">
  <div class="admin_top-container__left">
    <%= render "admin/users/navigation" %>
  </div>
  <div class="admin_top-container__right">
    <%= render "index", infomations: @infomations, keyword: @keyword %>
  </div>
</div>