<div class="thanks-container">
  <div class="thanks-container__content">
    <p class="text-center">
      お問い合わせありがとうございましたとうございました。<br>
      確認,対応まで、今しばらくお待ちください。<br>
      引き続き、当コンテンツの利用をお楽しみください。
    </p>
  </div>
  <%= link_to root_path do %>
    <div class="thanks-container__button">
      トップページへ
    </div>
  <% end %>
</div>