// Place all the styles related to the consultations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/********************newページ********************/
.form-area {
  .cons-inp1 {
    height: 30px;
  }

  .cons-inp2 {
    height: 200px;
  }


  .cons-label3 label{
    display: inline-block;
    width: 50px;
  }

  .cons-inp5 {  /********チェックボタン*********/
    width: 20px;
    height: 20px;

  }

  .cons-label3 {
    height: 5px;
    font-size: 20px;
  }

  .cons-inp6 p{
    background-color: #FF6928;
    border: 1px solid #FF6928;
    color: white;
    height: 40px;
    line-height: 40px;
    transition: all 0.2s 0s ease;
  }

  .cons-inp6:hover p{
    background-color: white;
    border: 1px solid #FF6928;
    color: #FF6928;
  }

  .cons-inp6 {
    height: 0;
  }
}

/******************************indexページ*********************************/

.consultation-container{
  margin-top: 70px;

  .consultation-body {
    width: 70%;
    display: flex;
    gap: 10px;
    height: 610px;
    margin: 0 auto;

    .consultation-left {      /******************左側*/
      background: silver;
      width: 20%;
    }
    .consultation-center {    /*****************中央******/

      width: 50%;

      &__sort {

        height: 6%;
      }

      &__label {

        height: 8%;

        ul {
          display: flex;
          justify-content: flex-start;
          height: 100%;


          .consultation-center__label-list1,
          .consultation-center__label-list2 {

          }

          li {

            width: 100%;

            p {

              height: 100%;
              font-size: 20px;
              text-align: center;
              line-height: 48px;
              font-weight: 600;
              border-radius: 8px 8px 0 0;
            }

            p:hover {
              background: silver;
              transition: 0.3s;
            }
          }
        }


      }

      &__list {
        background: #BC8F8F;
        height: 80%;
        max-width: 500px;
        overflow-x: scroll;

        ul {
          height: 100%;

          li {
            height: 13%;
            background: white;
            display: flex;
            border-bottom: 1px solid silver;
          }

        }

        &__left {
          height: 100%;
          width: 12%;
          background: #CCFFFF;
          color: black;

          .icon {
            height: 80%;
            font-size: 33px;
            text-align: center;
          }

          .genre {
            height: 20%;
            font-size: 1px;
            font-weight: 900;
            text-align: center;
          }
        }

        &__right {
          height: 100%;
          width: 88%;
          background: #FFDDFF;

          .title {
            background: #FFFFAA	;
            height: 60%;
            font-size: 17px;
            font-weight: 600;
            line-height: 35px;
            overflow-x: scroll;
            white-space: nowrap;
          }

          .body {
            background: #9900FF;
            height: 40%;

            ul {
              display: flex;

              li {
                height: 100%;
              }

              .count {
                width: 20%;
                font-size: 12px;
                line-height: 26px;

                p {
                  padding-left: 7px;
                }
              }

              .user {
                background: #CC66CC;
                width: 40%;
                display: flex;
                gap: 7px;
                font-size: 12px;
                line-height: 25px;
                a {
                  width: 100%;
                }

                .user-icon {
                  height: 100%;
                  width: 15%;
                }

                .user-name {
                  height: 100%;
                  width: 85%;
                }
              }

              .time {
                background: #993300;
                width: 30%;
                font-size: 11px;
                line-height: 23px;
              }
            }

          }
        }
      }

      &__page {
        background: white;
        height: 6%;
      }
    }

    .consultation-right {      /***************右側*/
      background: #00CCFF;
      width: 30%;
    }
  }
}

