// Place all the styles related to the consultations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/********************newページ********************/
.form-area {
  .cons-inp1 {
    height: 30px;
  }

  .cons-inp2 {
    height: 200px;
  }


  .cons-label3 label{
    display: inline-block;
    width: 50px;
  }

  .cons-inp5 {  /********チェックボタン*********/
    width: 20px;
    height: 20px;

  }

  .cons-label3 {
    height: 5px;
    font-size: 20px;
  }

  .cons-inp6 p{
    background-color: #FF6928;
    border: 1px solid #FF6928;
    color: white;
    height: 40px;
    line-height: 40px;
    transition: all 0.2s 0s ease;
  }

  .cons-inp6:hover p{
    background-color: white;
    border: 1px solid #FF6928;
    color: #FF6928;
  }

  .cons-inp6 {
    height: 0;
  }
}

/******************************indexページ*********************************/

.consultation-container{
  margin-top: 70px;
  background: Menu;

  .consultation-body {
    width: 80%;
    background: white;
    display: flex;
    gap: 20px;
    height: 610px;
    margin: 0 auto;

    .consultation-left {      /******************左側*/
      background: silver;
      width: 25%;
    }
    .consultation-center {    /*****************中央******/

      width: 50%;

      &__sort {

        height: 6%;
      }

      &__label {

        height: 8%;

        ul {
          display: flex;
          justify-content: flex-start;
          height: 100%;


          .consultation-center__label-list1,
          .consultation-center__label-list2 {

          }

          li {

            width: 100%;

            p {

              height: 100%;
              font-size: 20px;
              text-align: center;
              line-height: 48px;
              font-weight: 600;
              border-radius: 8px 8px 0 0;
            }

            p:hover {
              background: #DDDDDD;
              color: black;
              transition: 0.3s;
            }
          }
        }


      }


      &__list {
        height: 80%;
        border-top: 1px solid gray;

        ul {
          height: 100%;




          li {
            height: 60px;
            display: flex;
            border-bottom: 1px solid silver;
          }

        }

        &__left {
          height: 100%;
          width: 13%;
          color: black;

          .icon {
            height: 80%;
            font-size: 33px;
            text-align: center;
            position: relative;
            bottom: 2px;
          }

          .genre {
            height: 20%;
            font-size: 1px;
            font-weight: 800;
            text-align: center;
            position: relative;
            bottom: 2px;
          }
        }

        &__right {
          height: 100%;
          width: 88%;

          .title {
            height: 60%;
            font-size: 17px;
            font-weight: 600;
            line-height: 35px;
            overflow-x: scroll;
            white-space: nowrap;
          }

          .body {
            height: 40%;

            ul {
              display: flex;

              li {
                height: 100%;
              }

              .answer {
                width: 10%;
                font-size: 12px;
                line-height: 26px;
                padding-left: 4px;
              }

              .look {
                width: 10%;
                font-size: 12px;
                line-height: 26px;
              }

              .good {
                width: 10%;
                font-size: 12px;
                line-height: 26px;
              }

              .user {
                width: 40%;
                display: flex;
                gap: 7px;
                font-size: 12px;
                line-height: 25px;
                a {
                  width: 100%;
                }

                .user-icon {
                  height: 100%;
                  width: 15%;
                }

                .user-name {
                  height: 100%;
                  width: 85%;
                }
              }

              .time {
                width: 29%;
                font-size: 11px;
                line-height: 23px;
              }
            }

          }
        }
      }

      &__page {
        height: 6%;
      }
    }

    .consultation-right {      /***************右側*/
      width: 25%;
      border: 1px solid gray;
      padding: 5px;

      .ranking {

        .list li {
          display: flex;
          height: 50px;
          padding: 3px;
          border-bottom: 1px solid silver;
          line-height: 57px;

          .icon {
            width: 14%;
            font-size: 20px;
            position: relative;
            left: 5px;

          }

          .user {
            width: 70%;
            display: flex;


            img {
              width: 12%;
              position: relative;
              top: 18px;
              right: 3px;


            }
          }

          .count {
            width: 15%;
          }
        }

        .list li:nth-child(1) {
          .icon {
            color: gold;
          }
        }
        .list li:nth-child(2) {
          .icon {
            color: silver;
          }
        }
        .list li:nth-child(3) {
          .icon {
            color: #CC6633;
          }
        }


      }
    }
  }
}


/******************************showページ******************/

.consultation-show-container {        /************************左側*********/
  width: 80%;
  height: 900px;
  margin: 0 auto;
  background: white;
  overflow: hidden;

  &__innor {
    width: 100%;
    height: 600px;

    margin: 60px auto;
    display: flex;
    gap: 10px;

    .consultation-area {
      width: 50%;

      overflow-y: scroll;


      &__content {
        width: 80%;
        margin: 0 auto;


        p img {
          margin-right: 10px;
          position: relative;
        }

        .title {
          font-size: 30px;
        }


        .list {
          margin-top: 5px;
          display: flex;

          .look {
            width: 10%;
          }

          .answer {
            width: 10%;
          }

          .genre {
            width: 80%;
          }
        }

        .day{
          margin: 0;
        }

        .border {
          width: 85%;
          margin: 0 auto 10px auto;
        }

        .post-image{
          text-align: center;
        }

        .content {
          font-size: 16px;
          margin-top: 10px;
        }
      }
    }

    .answer-area {/***************右側****:::*/
      width: 50%;
      .answer {
        display: block;
        margin: 0 auto;
      }

        #consultation_answer_index {
          padding: 10px;
          height: 370px;
          overflow-x: scroll;
          .menu {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 10px;
            border-bottom: 1px solid gray;

            .day {
              font-size: 12px;
              position: relative;
              right: 10px;
            }

            .fa-trash-alt {
              position: relative;
              bottom: 8px;
              left: 8px;
            }
          }
        }

        .form-area {

          .consultation_answer-form {

            .text_area {
               width: 480px;
               border: 2px solid gray;
               border-radius: 5px;
               position: relative;
               left: 45px;
               height: 100px;
            }

            .upload {
              font-size: 5px;
              display: block;
              position: relative;
              left: 45px;
            }

            .button {
              width: 200px;
              display: block;
              position: relative;
              left: 190px;
              background-color: orange;
              border-radius: 5px;

              p {
                position: relative;
                top: 8px;

              }
            }

            .button:hover {
              opacity: 0.7;
              transition: 0.2s;
            }
          }
        }
    }
  }
}

