// Place all the styles related to the photo_post_comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/****************newページ*********************/
.index-title {
  position: relative;
  bottom: 360px;
  left: 60px;
}


.comment-container {
    border: 1px solid silver;
    width: 40%;
    padding: 20px;
    background: white;
    border-radius: 5px;
    z-index: 10;
}

.photo_post_comment-area {

      height: 460px;
      overflow-y: scroll;
      margin-top: 50px;

      #photo_post_comment_form {             /****************投稿フォーム*****************/
          position: absolute;
          top: 550px;


          input {
             width: 270px;
             margin: 0 auto;
             padding: 0 45px 0 25px;
             height: 45px;
             border-radius: 20px;
             outline: none;
             border: 1px solid gray;
             font-size: 15px;
             position: relative;
             top: 110px;
          }

          input:focus {
             border: 2px solid #0000BB;
          }

          .comment-btn {
             background: none;
             position: relative;
             top: 113px;
             right: 45px;
             font-size: 27px;
          }

          .comment-btn:hover {
             color: #0000BB;
          }
      }

      #photo_post_comment_index {              /****************投稿一覧*********************/

            .comment-body {
                margin: 5px 0;
                width: 320px;

                .comment {
                    position: relative;
                    left: 20px;
                }

            }
      }
}



/************************indexページ**************************/
.photo_post_comment_index-container {
    width: 50%;
    margin: 80px auto;
    padding: 20px;

    h2 {
      margin-bottom: 30px;
    }

    .pagination {          /****************::ページネーション****************/
      justify-content: center;

      .page-link {
        background: white;
        color: black;
      }

      .page-link:hover {
        background: silver;
      }
    }
}