// Place all the styles related to the photo_posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/****************indexページ***************/



/***********showページ**************/

/*画像複数の場合*/

.slider {
    display: inline-block;
    margin: 0 auto;
    width: 60%;
    &:hover {
        .slick-next {
            right: 20px;
            z-index: 100;
        }
        .slick-prev {
            left: 10px;
            z-index: 100;
        }
        .slick-prev::before,.slick-next::before {
            font-size: 30px;
        }
    }
}

/*画像１枚の場合*/
.slider__solo {
    display: inline-block;
    margin: 0 auto;
    width: 60%;
}