// Place all the styles related to the photo_posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/****************indexページ***************/



/***********showページ**************/

/*画像複数の場合*/

.slider {
    display: inline-block;
    margin: 0 auto;
    &:hover {
        .slick-next {
            right: 20px;
            z-index: 100;
        }
        .slick-prev {
            left: 10px;
            z-index: 100;
        }
        .slick-prev::before,.slick-next::before {
            font-size: 30px;
        }
    }
    .slick-slide {
     min-height: 650px!important;      /********画像サイズ統一*********/
    }
}

.slider


/*画像１枚の場合*/
.slider__solo {
    display: inline-block;
    margin: 0 auto;

}

.photo_post-container {
    display: flex;
    width: 90%;
    height: 600px;
    margin: 10px auto;

    .photo-area {
        width: 65%;
    }

    .explanation-area {
        width: 35%;
    }
}