// Place all the styles related to the photo_posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/****************indexページ***************/



/***********showページ**************/

/*画像複数の場合*/

.slider {
    display: inline-block;
    margin: 0 auto;

    &:hover {
        .slick-next {
            right: 20px;
            z-index: 100;
        }
        .slick-prev {
            left: 10px;
            z-index: 100;
        }
        .slick-prev::before,.slick-next::before {
            font-size: 30px;
        }
    }
}


/*画像１枚の場合*/
.slider__solo {
    display: inline-block;
    margin: 0 auto;
    padding-bottom: 30px;

}

.photo_post-container {
    display: flex;
    width: 70%;
    height: 620px;        /************写真外枠****************/
    margin: 40px auto;
    gap: 0 10px;

    .photo-area {
        width: 60%;
        padding: 8px 5px 20px 5px;
        border: 1px solid silver;
        border-radius: 5px;

        .photo-place {
            margin-bottom: 5px;
            font-size: 16px;
            padding: 0 20px;
        }

        &__under {
            display: flex;

            #photo_post_favorite, #photo_post_bookmark, #photo_post_comment {
                width: 60px;
                font-size: 30px;
                text-align: center;
                position: relative;
                bottom: 15px;
                left: 20px;

            }

            .post-day {
                font-size: 18px;
                width: 200px;
                margin-left: auto;
                position: relative;
                left: 50px;

            }
        }
    }

    .explanation-area {
        width: 40%;
        padding: 20px;

        .user-name {


            a {
                font-size: 20px;
            }
        }

        &__tag {
            padding-bottom: 80px;
        }
    }
}




/***************************newページ***************************/
.post-container {
    display: flex;
    gap: 0 10px;
    width: 90%;
    margin: 20px auto;
    height: 600px;

    .form-area {
        width: 50%;
        background-color: silver;
    }

    .preview-area {
        width: 50%;
        background-color: silver;
    }
}
