// Place all the styles related to the plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*****************newページ*********************/
.plan-container {
  width: 55%;
  min-height: 600px;
  background: white;
  margin: 0 auto;
  border: 3px solid;
  p {
    margin: 0;
    font-size: 25px;
    margin-top: 15px;
  }

  &__header {
    height: 50px;
    background: silver;
  }

  &__chart {
    height: 80px;
    background: gray;
  }

  &__content {
    width: 60%;
    margin: 0 auto;

    .must {
      font-size: 15px;
      padding: 5px;
      background: #ec0219eb;
      color: white;
      border-radius: 5px;
      position: relative;
      bottom: 3px;
    }

    &__title {
      input{
        width: 500px;
        height: 30px;
      }
    }

    &__day {
      input {
        width: 210px;
      }
    }

    &__check-word {
      display: flex;
      gap: 40px;
      p {
        font-size: 15px;
      }
    }

    &__check-time {
      display: flex;
      gap: 50px
    }

    &__place {
      input{
        width: 500px;
        height: 30px;
      }
    }

    &__member {
      p {
        margin-bottom: 5px;
      }
      #text {
        font-size: 20px;
      }

      select {
        height: 25px;
      }
    }

    &__memo {
      textarea {
        width: 500px;
        height: 300px;
      }
    }

    &__submit {
       text-align: center;
       margin: 20px 0 40px 0;

      button {
        height: 20px;
        background: #007bff;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        box-shadow: 2px 2px 4px gray;
      }

      button:hover {
        opacity: 0.7;
      }
    }
  }
}

/**********************item_choice**********************/
.plan_item-container {
    width: 55%;
    min-height: 600px;
    background: white;
    margin: 0 auto;
    border: 3px solid;
    p {
      margin: 0;
      font-size: 25px;
      margin-top: 15px;
    }

    &__header {
      height: 50px;
      background: silver;
    }

    &__chart {
      height: 80px;
      background: gray;
    }

    &__content {
      width: 90%;
      margin: 20px auto;
      label {
        display: block;
        position: relative;
        font-size: 25px;
        bottom: 27px;
        left: 35px;
        margin: -10px 0;
      }

      input[type=checkbox] {
      	width: 25px;
      	height:	25px;
      }
      &__list {
        height: 500px;
        overflow: scroll;
        border: 1px solid;
        padding: 5px;
      }

      &__submit {
       text-align: center;
       margin: 20px 0 40px 0;

        button {
          height: 25px;
          background: #007bff;
          color: white;
          padding: 10px 20px;
          border-radius: 5px;
          box-shadow: 2px 2px 4px gray;
        }

        button:hover {
          opacity: 0.7;
        }
      }
    }
}

/**********************:show****************************/


/**********************:*index*****************************/
.plans {
  &__header {
    display: flex;
    h2 {
      font-size: 40px;
      font-weight: 600;
    }

    &__link {
      margin-left: 100px;
      a {
       background: #007eff;
       font-size: 25px;
       color: white;
       padding: 8px;
       border-radius: 5px;
       box-shadow: 2px 2px 4px gray;
      }

      a:hover {
        opacity: 0.7;
      }
    }
  }

  &__select {
    select {
      height: 30px;
      border-radius: 5px;
      box-shadow: 2px 2px 4px gray;
    }

    button {
       background: gray;
       padding: 4px;
       border-radius: 5px;
       color: white;
       margin-left: 3px;
       box-shadow: 2px 2px 4px gray;
     }

     button:hover {
       opacity: 0.7;
     }
  }

  &__list {
    padding: 10px 15px;
    font-size: 25px;
    border: 2px solid;
    border-radius: 5px;
    margin-top: 20px;

    table {
      max-height: 600px;
      overflow: scroll;
      tr{
        border-bottom: 1px solid silver;
      }
    }

    &__title {
      width: 330px;
      white-space: nowrap;
      overflow: scroll;
    }
  }
}