// Place all the styles related to the plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*****************newページ*********************/
.plan-container {
  padding-top: 30px;
  width: 55%;
  min-height: 600px;
  margin: 0 auto;
  p {
    margin: 0;
    font-size: 25px;
    margin-top: 15px;
  }

  .alert-warning {
    position: relative;
    left: 200px;
    top: 8px;
  }

  &__header {
    height: 50px;
    width: 620px;
    color: white;
    margin: 0 auto;
    background: gray;
  }

  &__chart {
    height: 50px;
    width: 620px;
    background: silver;
    margin: 0 auto;
    h3 {
      text-align: center;
      line-height: 50px;
    }
  }

  &__content {
    width: 70%;
    margin: 0 auto;
    border: 3px solid;
    padding: 10px 0 10px 60px;

    .must {
      font-size: 15px;
      padding: 5px;
      background: #ec0219eb;
      color: white;
      border-radius: 5px;
      position: relative;
      bottom: 3px;
    }

    &__title {
      input{
        width: 500px;
        height: 30px;
      }
    }

    &__day {
      input {
        width: 210px;
      }
    }

    &__check-word {
      display: flex;
      gap: 40px;
      p {
        font-size: 15px;
      }
    }

    &__check-time {
      display: flex;
      gap: 50px
    }

    &__place {
      input{
        width: 500px;
        height: 30px;
      }
    }

    &__member {
      p {
        margin-bottom: 5px;
      }
      #text {
        font-size: 20px;
      }

      select {
        height: 25px;
      }
    }

    &__memo {
      textarea {
        width: 500px;
        height: 300px;
      }
    }

    &__submit {
       text-align: center;
       margin: 20px 0 40px 0;

      button {
        height: 20px;
        background: #007bff;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        box-shadow: 2px 2px 4px gray;
        position: relative;
        right: 40px;
      }

      button:hover {
        opacity: 0.7;
      }
    }
  }
}

/**********************item_choice**********************/
.plan_item-container {
    padding-top: 30px;
    width: 55%;
    min-height: 600px;
    margin: 0 auto;
    p {
      margin: 0;
      font-size: 25px;
      margin-top: 15px;
    }

    &__header {
      height: 50px;
      width: 580px;
      margin: 0 auto;
      background: gray;
      color: white;
    }

    &__chart {
      height: 50px;
      background: silver;
      width: 580px;
      margin: 0 auto;
      h3 {
        text-align: center;
        line-height: 50px;
      }
    }

    &__content {
      margin: 0 auto;
      border: 3px solid;
      padding: 10px;
      width: 70%;

      label {
        display: block;
        position: relative;
        font-size: 25px;
        bottom: 27px;
        left: 35px;
        margin: -10px 0;
      }

      input[type=checkbox] {
      	width: 25px;
      	height:	25px;
      }
      &__list {
        height: 500px;
        background: white;
        overflow: scroll;
        border: 1px solid;
        width: 550px;
        white-space: nowrap;
      }

      &__submit {
       text-align: center;
       margin: 20px 0 40px 0;

        button {
          height: 25px;
          background: #007bff;
          color: white;
          padding: 10px 20px;
          border-radius: 5px;
          box-shadow: 2px 2px 4px gray;
        }

        button:hover {
          opacity: 0.7;
        }
      }
    }
}

/**********************:show****************************/
.plan-show-flash {
  text-align: center;
  color: green;
  font-size: 25px;
}
.plan-show-container {
    padding-top: 30px;
    width: 50%;
    white-space: nowrap;
    overflow: scroll;
    min-height: 600px;
    margin: 0 auto;
    font-size: 25px;
    p {
      margin: 0;
      font-size: 20px;
      margin-top: 15px;
      background: #545b62;
      width: fit-content;
      color: white;
      padding: 0 3px;
      border-radius: 5px;
    }

    &__header {
      height: 50px;
      margin-bottom: 10px;
    }

    &__tab {
      display: flex;

      &__plan {
        width: 50%;
        height: 50px;
        border-radius: 10px 10px 0 0;
        border: 2px solid;
        background: silver;
        span {
          font-size: 30px;
          position: relative;
          left: 130px;
        }
      }

      &__gear {
        width: 50%;
        height: 50px;
        border-radius: 10px 10px 0 0;
        border: 2px solid;
        background: silver;
        span {
          font-size: 30px;
          position: relative;
          left: 120px;
        }
      }
    }

/****************部分テンプレ(plan)*********************:********/
    &__content {
      padding: 10px;
      background: white;
      border: 3px solid;
      &__check-word {
        display: flex;
        gap: 40px;
        p {
          font-size: 15px;
        }
      }

      &__check-time {
        display: flex;
        font-size: 25px;
        .out {
          position: relative;
          left: 45px;
        }
      }

      &__memo {
        &__body {
          border: 2px solid gray;
          padding: 3px;
          border-radius: 5px;
          font-size: 20px;
          max-height: 400px;
          overflow: scroll;
        }
      }
    }

    &__bottom{
      height: 100px;
      &__back {
        background: #007bff;
        width: 10%;
        margin: 20px auto 0 auto;
        text-align: center;
        height: 40px;
        line-height: 40px;
        color: white;
        border-radius: 5px;
        padding: 10px;
        position: relative;
        top: 20px;
        left: 660px;
        box-shadow: 2px 2px 4px grey;
      }

      &__delete {
        position: relative;
        left: 820px;
        top: 20px;
      }
    }
}

/****************部分テンプレ(gear)*********************:********/
.plan-show-container {
  &__content {
    &__gear {
      max-height: 600px;
      overflow: scroll;
    }
  }
}







/**********************:*index*****************************/
.plans {
  &__header {
    display: flex;
    h2 {
      font-size: 40px;
      font-weight: 600;
    }

    &__link {
      margin-left: 100px;
      a {
       background: #007eff;
       font-size: 25px;
       color: white;
       padding: 8px;
       border-radius: 5px;
       box-shadow: 2px 2px 4px gray;
      }

      a:hover {
        opacity: 0.7;
      }
    }
  }

  &__select {
    select {
      height: 30px;
      border-radius: 5px;
      box-shadow: 2px 2px 4px gray;
    }

    button {
       background: gray;
       padding: 4px;
       border-radius: 5px;
       color: white;
       margin-left: 3px;
       box-shadow: 2px 2px 4px gray;
     }

     button:hover {
       opacity: 0.7;
     }
  }

  &__list {
    padding: 10px 15px;
    font-size: 25px;
    border: 2px solid;
    border-radius: 5px;
    margin-top: 20px;

    table {
      max-height: 600px;
      overflow: scroll;
      tr{
        border-bottom: 1px solid silver;
      }
    }

    &__day {
      font-size: 15px;
    }

    &__title {
      width: 330px;
      white-space: nowrap;
      overflow: scroll;
    }
  }
}