// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*********posts部分**********/
.posts {

     h3 {
       font-weight: 600;
       display: inline-block;
       position: relative;
       left: 400px;
     }

}

/************************:edit部分*****************************/
.form-area{
    .label,.inp {
        display: block;
        width: 350px;
    }

    .edit-input1 {
        height: 30px;
    }

    .edit-input2 {
        height: 200px;
    }

    .edit-input3 {
        height: 35px;

    }

    .edit-input4 {
      display: block;
      background-color: #009900;
      height: 30px;
      color: white;
      border: 1px solid  #009900!important;
    }

    .edit-input4:hover {
      background-color: white;
      color: #009900;
      border: 1px solid  #009900!important;
    }

    .leave-btn {
        position: relative;
        left: 70px;
        top: 15px;
        font-size: 14px;

    }
}
