// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/**************showページ****************/
.profile-container {
  display: flex;
  width: 90%;
  height: 680px;
  margin: 5px auto;


  .profile {
    width: 50%;
  }

  .posts {
    width: 50%;

     .contents {
       display: flex;
       align-items: center;
       flex-wrap: wrap;
     }

     h2 {
       font-weight: 600;
     }
  }


}
