// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*********posts部分**********/
.posts {

     h3 {
       font-weight: 600;
       display: inline-block;
       position: relative;
       left: 400px;
     }

     .posts-title, .select-list {
       display: inline-block;
     }

     #sort {
       margin-left: 10px;
       position: relative;
       bottom: 3px;
     }

}

/************************:edit部分*****************************/
.form-area{
    .label,.inp {
        display: block;
        width: 350px;
    }

    .edit-input1 {
        height: 30px;
    }

    .edit-input2 {
        height: 200px;
    }

    .edit-input3 {
        height: 35px;

    }

    .edit-input4 {
      display: block;
      background-color: #009900;
      height: 30px;
      color: white;
      border: 1px solid  #009900!important;
    }

    .edit-input4:hover {
      background-color: white;
      color: #009900;
      border: 1px solid  #009900!important;
    }

    .leave-btn {
        position: relative;
        left: 70px;
        top: 15px;
        font-size: 14px;

    }
}

.profile__left {                     /*************************メニューバー*/
  ul {
      margin: 0px;
      padding: 0px;
      list-style: none;
  }



  .item {
      position: relative;

       a {
          display: block;
          line-height: 40px;
          text-align: center;
          background: white;
          border: .5px solid black;
          border-top: .5px solid silver;
          transition: .2s ease-out;
       }

       a:hover {
         background: silver;
         color: white;
       }

       .title {
         font-size: 23px;
         font-weight: 300;
         text-align: right;
         p {
           position: relative;
           left: 10px;
         }

         .fa-bars {
           position: relative;
           top: 2px;
         }
       }

  }

  .child {
      visibility: hidden;
      width: 100%;
      position: relative;
      bottom: 16px;
      left: 0px;
  }

  .item:hover .child {
      visibility: visible;
  }
}