<div class="admin_top-container">
  <div class="admin_top-container__left">
    <%= render "navigation" %>
  </div>
  <div class="admin_top-container__right">
    <%= render "index", users: @users, keyword: @keyword %>
  </div>
</div>