<div class="admin_top-container">
  <div class="admin_top-container__left">
    <%= render "navigation" %>
  </div>
  <div class="admin_top-container__right">
    <div class="admin_top-container__right__graph">
      <div class="user-graph">
        <h2><i class="fas fa-chart-line"></i> ユーザー登録者数</h2>
        <%= line_chart @user_data %>
      </div>
      <div class="post-graph">
        <div class="post-graph__photo_post">
          <h2><i class="fas fa-camera"></i> 写真投稿割合</h2>
          <%= pie_chart PhotoPost.group(:genre).count %>
        </div>
        <div class="post-graph__consultation">
          <h2><i class="fas fa-comments"></i> 相談投稿割合</h2>
          <%= pie_chart Consultation.group(:genre).count %>
        </div>
      </div>
    </div>
  </div>
</div>