<div class="footer-container">
  <div class="footer-nav">
    <ul>
      <li><%= link_to "プライバシーポリシー", root_path %></li>
      <li><%= link_to "利用規約", root_path %></li>
      <li><%= link_to "お問い合わせ", new_infomation_path %></li>
    </ul>
  </div>
  <div class="copy">
    <p class="text-center">© Bonfire Club 2021</p>
  </div>
</div>